/*Colors and font*/

body {
	background-color: #DFCFBE;
	color: rgb(50, 50, 50);
	font-size: 17px;
	font-family: 'Lora', serif;
}
h1 {
	color: #92A8D1;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	letter-spacing: 6px;
	font-size: 50px;
	text-transform: uppercase;
}
h2 {
	color: #DFCFBE;
	font-family: 'Gayathri', sans-serif;
	font-weight: 400;
	letter-spacing: 10px;
	font-size: 25px;
	text-transform: uppercase;
}
a {
	font-family: 'Gayathri', sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-decoration: none;
	color: white;
}
a:hover {
	color: #bccad6;
}

/*Custom design with class*/
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}	
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}
.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 5px;
	margin: 30px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color:#92A8D1;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.btn-blue:hover {
	background-color:#DFCFBE;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #92A8D1;
}
.list-inline i:hover {
	color: #DFCFBE
}	
#introduction p {
	margin-bottom: 50px;
}
#sea {
	position: fixed; right: 0; bottom: 0;
 	min-width: 100%; min-height: 100%;
 	width: auto; height: auto; z-index: -100;
 	background: url(ocean.mp4) repeat;
 	background-size: cover;
}
